
<footer class="d-flex mt-auto"> <!-- mt-auto to push the footer to the bottom of the screen -->
    <div class="col py-3 mt-4 px-5 border-top text-center">
        <p class="mb-0 text-muted"><small>PainthingsShop created by José Luis Bernáldez Morales for the 2021 Web Engineering and Services course - &copy;&nbsp;PainthingsShop</small></p>
    </div>
</footer>