
<!-- Header that displays the title of the website and a brief text -->
<header class="pt-5 mb-4 bg-light text-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-5 text-center">
                <h1 class="display-3">DMART SPAIN</h1>  <!-- Title of the screen -->
                <p class="lead">Welcome to my Paintings Shop. Feel free to explore the website to check my newest alcohol inks</p>  <!-- Nav text -->
                <p>All drawings are 100% original. Don't wait and get any of these exclusive paintings before it's too late!</p>
            </div>
        </div>
    </div>
</header>