
{{> navbar}}
{{> header}}
{{> messages}}

<!-- Main content of the page will be developed here. -->
<main>
    <div class="container text-center">
        <h1>Index not found</h1>
    </div>
    
</main>

{{> footer}}